*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

p{
    line-height:2;
}


/* LOGO */
.logo{
    z-index: 20;
    position: fixed;
    margin: 4px;
}

.logo img{
    height: 66px;
    transition: 0.4s;
}

 /* NAVIGATION MENU */
 nav{
    z-index: 10;
    padding: 24px 16px;
    font-family: Raleway;
    width: 100%;
    transition: .6s;
    position: fixed;
 }

 nav.scrolled {
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(50,50,50,0.1);

 }
nav.scrolled + .logo img {
  height: 60px;
}


 nav ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
 }

 nav ul a{
    color: black;
    text-decoration: none;
    margin: 0 32px;
    font-size: 18px;
 }

 header{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(/img/key1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
 }

 header h1{
    font-family: "Raleway";
    color: #fff;
    font-size: 60px;
    font-weight: 800;
 }

  section{
    height: 480px;
    display: flex;
  }
  .section-follow{
    height: 160px;
    align-items: center;
    flex-direction: column;
  }

  .section-follow .social-media{
    padding: 0 300px;
    font-size: 30px;
    
  }

  .section-follow .social-media i{
    padding: 5px 8px;
    transition: 0.4s;
    cursor: pointer;

  }
  .social-media i:hover{
    transform: scale(1.3);
  }
  .section-follow .follow-me:after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    width: 150px;
    height: 44px;
    margin: 0 auto;
    border-bottom: 1px solid black;
  }

    section h3{
       font-family: "Raleway";
       font-size: 32px; 
       padding: 16px 0;
    }
    section:nth-child(2n){
        flex-direction: row-reverse;
        background: #0f141a;
        color: #fff;
    }
 
    section p{
        font-family: 'roboto Slab';
    }

    section .description, section .image{
        display: flex;
        flex-direction: column;
        flex: 1;
        padding: 32px;
        justify-content: center;
        overflow: hidden;
    }

    section .image img{
        height: 340px;
    }

    section .image{
        border-radius: 160px;
        overflow: hidden;
        transition: 1s;
    }

    section .image:hover{
        transform: scale(1.04);
        overflow: hidden;
    }

    section .image:hover{
        transform: scale(1.04);
        overflow-y: hidden;
    }
footer{
  padding: 32px 0;
  background: #000;
  color: #eee;
  font-family: 'Raleway';
  text-align: center;
}

 .menu-btn{
    display: none;
 }

 @media(max-width: 900px){
  header h1{
    font-size: 72px;
  }
  nav {
    display: flex;
    height: 100vh;
    transform: scaleY(0) translateY(1200);
    background: rgba(255, 255, 255, 0.8);
    transition: .4s;
  }

   nav .active{
    transform:scaleY(1) translateY(0px);
   }
  nav ul {
    margin: 0 auto;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  nav ul li{
    padding: 42px 0;
  }

  nav li a {
    font-size: 20px;
    position: relative;
  }

  nav li a:after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 24px;
    width: 60%;
    margin: 0 auto;
    border-bottom: 1px solid black;
  }

  .section-follow .follow-me:after {
    width: 120px;
    height: 30px;
  }

  section h3{
    font-size: 24px;
    height: auto;
    text-align: center;
  }
  section {
    flex-direction: column;
  }
  section:nth-child(2n){
    flex-direction: coloumn;
  }
  sectin .image img{
    margin: 0 auto;
    width: 95%;
    height: auto;
  
   }
  
   .menu-btn {
    z-index: 10;
    color: #474747;
    display: block;
    position: fixed;
    right: 16px;
    top: 16px;
    font-size: 64px;
    transition: .4s;
    font-family: 'Roboto Slab';
    cursor: pointer;
    transform: rotate(0deg);
   }

   .menu-btn .active {
    transform: rotate(45deg);
   }
 }
 